includes:
    - vendor/phpstan/phpstan/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - vendor/slam/phpstan-extensions/conf/thecodingmachine-rules.neon

parameters:
    paths:
        - lib/
        - tests/
    ignoreErrors:
        - '#Parameter \#1 \$originalProtocol of class Slam\\Zend\\Mail\\Protocol\\TimeKeeperSmtpProxy constructor expects Zend\\Mail\\Protocol\\Smtp, PHPUnit\\Framework\\MockObject\\MockObject given#'
        - '#Slam\\Zend\\Mail\\Protocol\\TimeKeeperSmtpProxy::__construct\(\) does not call parent constructor from Zend\\Mail\\Protocol\\Smtp#'
        - '#Call to an undefined method Zend\\Mail\\Protocol\\Smtp::setUsername\(\)#'
        - '#Call to an undefined method Zend\\Mail\\Protocol\\Smtp::getUsername\(\)#'
        - '#Call to an undefined method Zend\\Mail\\Protocol\\Smtp::setPassword\(\)#'
        - '#Call to an undefined method Zend\\Mail\\Protocol\\Smtp::getPassword\(\)#'
